@model IEnumerable<PlayerBase_3.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    @using (Html.BeginForm("Index", "Teams", FormMethod.Get))
    {
        <b>Search:</b> @Html.RadioButton("SearchBy", "Name", true) <text> Name </text>
        @Html.RadioButton("SearchBy", "City")<text> City </text>
        @Html.RadioButton("SearchBy", "Province") <text> Province </text>
        @Html.RadioButton("SearchBy", "League") <text> League </text><br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
<table class="table table-hover table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr class="text-center">
                <td colspan="7">No teams match search criteria.</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.League)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
