@using Highsoft.Web.Mvc.Charts;
@using Highsoft.Web.Mvc.Charts.Rendering;

@model PlayerBase_3.Models.Player

@{
    ViewData["Title"] = "Player Details";
    int points = Model.Goals + Model.Assists;
}

@section scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
}

@{ var chartOptions = new Highcharts
    {
        Title = new Title
        {
            Text = "Player Analytics"
        },

        XAxis = new List<XAxis>
{
            new XAxis
            {
                Categories = new List<string> {
                   "G/GP",
                   "A/GP",
                   "P/GP",
                   "PIM/GP"
                }
            }
        },

        YAxis = new List<YAxis>
{
            new YAxis
            {
                Title = new YAxisTitle
                {
                    Text = "Values"
                }
            }
        },

        Series = new List<Series>
{
            new ColumnSeries
            {
                Name = Model.FirstName + " " + Model.LastName,
                Data = ViewData["playerData"] as List<ColumnSeriesData>
            }
        }
    };

    chartOptions.ID = "chart";
    var renderer = new HighchartsRenderer(chartOptions);

}


    <h1>Player Details</h1>

    @*<div>
            <h4>Player</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Position)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Position)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Province)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Province)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.GamesPlayed)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.GamesPlayed)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Goals)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Goals)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Assists)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Assists)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PenaltyMinutes)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PenaltyMinutes)
                </dd>
            </dl>
        </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm">
            <figure class="figure">
                <img src="~/Content/Images/defaultImage.jpg" class="figure-img img-fluid rounded" alt="Default User Image" width="180" height="180" />
                <h5 class="text-center text-primary">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h5>
            </figure>
        </div>
        <div class="col-sm">
            <div class="border border-dark">
                <ul style="list-style:none" class="text-center">
                    <li><span class="font-weight-bold">Team: </span>@ViewBag.playerTeam.Name</li>
                    <li><span class="font-weight-bold">Position: </span>@Html.DisplayFor(model => model.Position)</li>
                    <li><span class="font-weight-bold">City: </span>@Html.DisplayFor(model => model.City)</li>
                    <li><span class="font-weight-bold">Province: </span>@Html.DisplayFor(model => model.Province)</li>
                    <li><span class="font-weight-bold">Birth Date:  </span>@Html.DisplayFor(model => model.BirthDate)</li>
                    <li><span class="font-weight-bold">Email:  </span>@Html.DisplayFor(model => model.Email)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered">
                <tr class="bg-dark text-light text-center">
                    <td class="font-weight-bold">Games Played</td>
                    <td class="font-weight-bold">Goals</td>
                    <td class="font-weight-bold">Assists</td>
                    <td class="font-weight-bold">Points</td>
                    <td class="font-weight-bold">Penalty Minutes</td>
                </tr>
                <tr class="text-center">
                    <td>@Html.DisplayFor(model => model.GamesPlayed)</td>
                    <td>@Html.DisplayFor(model => model.Goals)</td>
                    <td>@Html.DisplayFor(model => model.Assists)</td>
                    <td>@points</td>
                    <td>@Html.DisplayFor(model => model.PenaltyMinutes)</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            @Html.Raw(renderer.RenderHtml())
        </div>
    </div>
</div>
